
:root {
    --text-color: #000000;
    --text-contacts-color: #FFFFFF;
    --accent-color: #D9ADD6;
    --bg-button-color: #D9D9D9;
    --background-color: #D9D9D9;
    --background-footer-color: #3C4043;
    --hover-button-color: darkgray;
    --link-color: #5F6368;
  }